body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    text-align: center;
  }

.iut-logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.iut-logo img {
    max-width: 100%;
    height: auto;
}


div {
    display: block;
    unicode-bidi: isolate;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.section h2 {
    font-size: 24px;
    color: #303030;
    margin-bottom: 1rem;
    border-bottom: 2px solid #303030;
    padding-bottom: 0.5rem;
    text-align: center;
}

.section p {
    margin: 1rem 0;
    font-size: 16px;
    color: #555;
}

.section ul {
    margin: 1rem 0;
    padding-left: 20px;
    text-align: center; 
}

.section ul li {
    list-style: none;
    margin-bottom: 0.1re;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
