@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham.woff2') format('woff2');
}


html, body {
  height: 100%;
}
main.register-container {
  flex: 1;
}

body {
  font-family: 'Gotham', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #e6f0ff);

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.register-container {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}


.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.form-group {
  margin-bottom: 1.6rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: bold;
}

.label-text {
  margin-right: 0.3rem;
}

.required {
  color: red;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

input {
  width: 100%;
  padding: 0.9rem 0.9rem 0.9rem 42px;
  font-size: 1.05rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid #002c64;
  background-color: #fff;
}

.btn-submit {
  width: 100%;
  background-color: #034b91;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.btn-submit:hover {
  background-color: #023e78;
}
